body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin:0; 
  padding:0;
  overflow-x: hidden;
}
#app{
  width:100vw; 
  height:100vh; 
  display:grid; 
  grid-template-columns: 1fr 40rem 1fr; 
  grid-template-rows:5rem 1fr;
}
#layout-add{
  grid-row:1/2; 
  grid-column:2/3; 
  align-self: center;
  justify-self: center;
}
#layout-list{
  grid-row:2/3; 
  grid-column:2/3; 
  display:flex; 
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
}
.newItemInput{
  border: thin solid grey;
  border-radius: 7px 0 0 7px;
  padding: 2px 5px;
  outline: none;
  line-height: 1.4rem;
  font-size: 1rem;
  width: 25rem;
}
.newItemButton{
  background-color: #7d9;
  border: thin solid green;
  border-radius: 0 7px 7px 0;
  padding: 2px 5px;
  position: relative;
  left: -7px;
  outline: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.4rem;
}
.newItemButton:hover{
  background-color: #9eb;
}
.newItemButton:active{
  background-color: white;
  color: limegreen;
}
.todoItem{
  width:20rem;
  border-radius:3px;
  border: thin solid grey;
  background-color:skyblue;
  
  display: grid;
  grid-template-columns: 1fr 1rem;
  transition: grid-template-columns 0.8s;
  margin: 1rem;
}
.todoItem:hover, .todoItem:focus{
  grid-template-columns: 1fr 2rem;
  width: 21rem;
}
.todoItemText{
  grid-column: 1/2;
  overflow: hidden;
}
.todoItemActions{
  background-color: rgba(0,0,0,0.4);
  color:white;
  font-weight: bold;
  grid-column: 2/3;
  text-align:center;
}
/* .todoItemDelete{
  grid-column: 1/2;
  grid-row: 2/3;
} */
.todoItemCheck{
  cursor: pointer;
}
.todoItemDone{
  text-decoration: line-through;
}
.editTodoTextInput{
  background-color: rgba(255,255,255,0.1);
  font-size: 1.1rem;
  border:none;
  border-bottom: thin solid grey;
  outline: none;
}
.deleteWarn{
  color:tomato;
}
.material-icons{
  user-select: none
}
@media only screen and (min-width: 1000px) {
  #app{
    grid-template-columns: 1fr 48rem 1fr; 
  }
  #layout-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: start;
    align-items: flex-start;
  }
}